
[submodule "libs/xui"]
	path = libs/xui
	url = git://github.com/filmaj/xui.git
[submodule "libs/lawnchair"]
	path = libs/lawnchair
	url = git://github.com/xui/lawnchair.git
[submodule "libs/xui-plugins"]
	path = libs/xui-plugins
	url = git://github.com/filmaj/xui-plugins.git
