
[submodule "libs/xui"]
	path = libs/xui
	url = git://github.com/xui/xui.git
[submodule "libs/lawnchair"]
	path = libs/lawnchair
	url = git://github.com/xui/lawnchair.git
[submodule "lib/xui-plugins"]
	path = lib/xui-plugins
	url = git://github.com/xui/xui-plugins
